body{
    width: 400px;
    background-color:rgba(0,0,12,0.8);
    color: white;
    margin-top:100px;
    margin-left: 90px;
    font-family: sans-serif;
}
form input{ 
    width: 400px;
    height: 16px;
    background-color:rgba(0,0,12,0.8);
    display: block;
    margin: 9px 10px 9px -4px;
    border-radius: 19px;
    border-color: rgba(225,225,225);
    padding: 10px;

}
input:focus{
    background-color:rgba(225,225,225);
}
#all{
   margin-top : 170px;
}
#btn{
    margin-top: 20px;
    margin-left: -2px;
    width: 420px;
    height: 40px;
    color: white;
    border-radius: 20px;
    background-color: slateblue;
    border-color: white;
}
#img{
    text-decoration: none;
    color: white;
    position:relative;
    top: 37px;
    left: 155px;
}
#gg{
   position: relative;
   top: 42px;
   right: 7px;
}
body{
    background-image: url("New folder/mm.png");
}